:css
    #hor-scroll-container {
        position: absolute;
        border: solid black 3px;
        min-width: 150px;
        min-height: 75px;
    }


%div#hor-scroll-container


:javascript
    $(document).ready(function () {
        // a percentage
        const limit = 85/100;  
        const table = $('table');
        const tableWidth = table.innerWdith;
        const winWidth = window.innerWdith;
        const container = $('#hor-scroll-container');

        window.onresize = showScrolling;

        function showScrolling() {
            const widthRatio = winWidth / tableWidth;
            if(widthRatio < 1) {
                _attach_feature();
            } else {
                _destroy_feature();
            }
        }

        function _attach_feature() {
            _destroy_feature();
            const feature = yieldFeature();
            container.append(feature);
        }

        function _destroy_feature() {
            container.innerHTML = '';
        }
        
    })