<h1>You are in the Horizontal Scrolling Feature<h1>

<table>
    <th>Column 1</th>
    <th>Column 2</th>
    <th>Column 3</th>
    <th>Column 4</th>
    <th>Column 5</th>
    <th>Column 6</th>
    <th>Column 7</th>
    <th>Column 8</th>

    <tbody>
    <tr>
      <td>One</td>
      <td>Two</td>
      <td>Three</td>
      <td>Four</td>
      <td>Five</td>
      <td>Six</td>
      <td>Seven</td>
      <td>Eight</td>
    </tr>
    </tbody>


</table>

<%= render "hor_scrolling" %>

<script>
 const table = $('table');
console.log($('table'));

// alert(table)
</script>